.container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 50%;
}
.col{
    border: 1px solid black;
    width: 30%;
    height: 350px;
    text-align: center;
}
.img{
    width: 100%;
    
}
.img>img{
    width: 100%;
}
.name-pt{
    color: rgb(7, 106, 219); 

}
p{
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
    margin-bottom: 0px;
}